
extends layout

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                small &nbsp;#{pageHeader.strapLine}

    .row
        .col-12.col-md-8
            form(action="/locationsearch", method="get", role="form")
                // - if (error == "val")
                // .alert.alert-danger(role="alert") All fields required, please try again
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="zipcode") Enter Zipcode
                    .col-12.col-sm-10
                        input#name.form-control(name="zipcode")
                button.btn.btn-primary.float-right Search

        .col-12.col-md-4
         p.lead= sidebar